@import "common";

.wrap {
    width: 1080px;
    height: 1920px;
    overflow: hidden;
    padding: 35px 67px 0;
    position: fixed;
        top: 0;
        left: 0;
        background-image: url(../img/door.png);
        background-position-x: -557px;

    
    header {
        width: 100%;

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .home_bt_hide {
                opacity: 0;
            }
        }

        .sub_nav {
            display: flex;
            justify-content: space-between;
            align-items: center;


            .nav_title {
                width: 400px;
                text-align: center;

                span {
                    font-size: 55px;
                    font-weight: 600;
                    letter-spacing: -0.44px;
                }
            }
        }
    }

    .main_contents {
        margin-top: -320px;
        
        >img {
            position: absolute;
            top: 674px;
            left: 500px;
            z-index: 3;
            
            &.img_b {
                top: 693px;
            }
        }

        .y_check_box {
            width: 364px;
            display: flex;
            flex-direction: column;
            margin: 400px 111px 0px;
            
            img {
                opacity: 0;
            }
        }
        
        .text_box {
            position: absolute;
            top: 458px;
            right: 106px;
            width: 350px;
            text-align: center;

            >span {
                font-size: 30px;
                letter-spacing: -0.24px;
            }

            >p {
                font-size: 40px;
                margin-top: 140px;
            }

            .color_box {
                width: 285px;
                height: 139px;
                margin: 49px auto 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
                li {
                    display: flex;
                    align-items:center;
                    justify-content: space-between;
                    text-align: left;

                    span {
                        display: inline-block;
                        width: 80px;
                        text-align: left;
                        font-size: 31px;
                        font-weight: 400;
                        letter-spacing: -0.25px;

                        &.color_bar {
                            width: 178px;
                            height: 47px;
                            background-color: #525252;
                            border-radius: 13px;

                            &.color_bar2 {
                                background-color: $pointColor;
                            }

                            &.color_bar3 {
                                background-color: #D9D9D9;
                            }
                        }
                    }
                }
            }

            .hand_box {
                width: 340px;
                margin: 74px auto 0;
                
                p {
                    font-size: 26px;
                    letter-spacing: -0.21px;
                    font-weight: 400;
                    margin-top: 35px;
                }
            }
        }

        
    }

    


    .bt_gr {
        text-align: center;
        position: absolute;
        bottom: 280px;
        right: 105px;

        button {
            width: 333px;
            height: 105px;
            @include bt;
            background-color: $pointColor;
        }
        
        p {
            font-size: 26px;
            letter-spacing: -0.21px;
            margin-bottom: 67px;
        }
    }
}

.bg_box {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -5;
    width: 1080px;
    height: 670px;
    background-color: #484848;
}
